[Unit]
Description=Start HPM containers (if they exist)

[Service]
Type=oneshot
ExecStart=/usr/bin/podman start hpm-kali      || true
ExecStart=/usr/bin/podman start hpm-parrot    || true
ExecStart=/usr/bin/podman start hpm-blackarch || true

[Install]
WantedBy=default.target

