[Unit]
Description=Run dconf update after system configuration changes
ConditionFirstBoot=yes

[Service]
Type=oneshot
ExecStart=/usr/bin/dconf update

[Install]
WantedBy=multi-user.target

