polkit.addRule(function(action, subject) {
    if (
        subject.isInGroup("panic") &&
        subject.local &&
        subject.active &&
        action.id == "org.freedesktop.login1.lock-sessions"
    ) {
        return polkit.Result.YES;
    }
});

