/* TEMP TEST: only these rules in stylesheet.qss */

* {
    color: #d3c6aa;
}

/* Make all backgrounds dark except the main window frame */
QWidget {
    background-color: #2d353b;
}

QMainWindow, QWidget#calamaresWindow {
    background-color: #2b3339;
}

