[Desktop Entry]
Type=Application
Exec=sh -c 'zenity --info --text="если это видно то автостарт работает"'
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Hello Popup
Comment=Shows hello popup on login
